<div class="container" style=" margin-top:12%">
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <ul class="list-inline mx-auto justify-content-center" style="list-style-type:none">
            <li class="">
                <a class="navbar-brand text-light " href="https://www.esteelauder.com.hk/privacy">私隱政策和私隱聲明
                </a>

            </li>
            <li>
                <a class="navbar-brand text-light" href="https://www.esteelauder.com.hk/terms-conditions">條款及細則</a>
    

            </li>
            <li>
                <h4 class="text-light navbar-brand   ">© Estée Lauder Inc </h4> 

            </li>
        </ul>

        
    </nav>
</div>