
    <nav class="navbar fixed-top bg-light">
      
          <div class="container">
           
                  <img src="photo/logo.png" alt="login page" class="img-responsive center-block"/>  
                  
          </div>
       
          
      
   </nav>
