<div class="container">
    <nav class="navbar fixed-top bg-light">
      
          <div class="col-12">
              <img class="mx-auto d-block" src="
              photo/logo.png" alt="login page"/>  
          </div>
          
      
   </nav>
</div>